<div class="ezb-list-output">

    <f:for each="{journals.alphabetical_order.first_fifty}" as="section">
        <h3>
            <f:link.page pageUid="{listPid}" additionalParams="{section.link}" addQueryString="0">
                <f:format.htmlentitiesDecode>
                    <libconnect:strreplaceNp search="&" replace="&amp;">
                        {section.first_fifty_titles}
                    </libconnect:strreplaceNp>
                </f:format.htmlentitiesDecode>...
            </f:link.page>
        </h3>
    </f:for>
    
    <f:if condition="{journals.current_title}">
        <h2><f:format.htmlentitiesDecode>{journals.current_title}</f:format.htmlentitiesDecode>...</h2>
    </f:if>
    
    <ul class="ezb-list">
        <f:for each="{journals.alphabetical_order.journals}" as="journal">
            <li class="ezb-list-accessinfo-access_{journal.color_code}">
                <f:link.page pageUid="{detailPid}" additionalParams="{libconnect: {jourid:'{journal.jourid}'}}" addQueryString="0">
                    <f:format.htmlentitiesDecode>
                        <libconnect:strreplaceNp search="&" replace="&amp;">
                            {journal.title}
                        </libconnect:strreplaceNp>
                    </f:format.htmlentitiesDecode>
                </f:link.page>
            </li>
        </f:for>
    </ul>

    <f:for each="{journals.alphabetical_order.next_fifty}" as="section">
        <h3>
            <f:link.page pageUid="{listPid}" additionalParams="{section.link}" addQueryString="0">
                <f:format.htmlentitiesDecode>
                    <libconnect:strreplaceNp search="&" replace="&amp;">
                        {section.next_fifty_titles}
                    </libconnect:strreplaceNp>
                </f:format.htmlentitiesDecode>...
            </f:link.page>
        </h3>
    </f:for>

</div>
