{namespace libconnect=Sub\Libconnect\ViewHelpers}
<h1 class="ezb">
    <f:if condition="{journals.subject}">
        <f:then>
            <f:translate key="tx_libconnect.ezb.list.headline.subject" />
        </f:then>
        <f:else>
            <f:translate key="tx_libconnect.ezb.list.headline.alphabetical" />
        </f:else>
    </f:if>
</h1>

<f:if condition="{journals.subject}">
    <h2 class="ezb"><f:format.htmlentitiesDecode>{journals.subject}</f:format.htmlentitiesDecode></h2>
</f:if>

<div class="ezb-list-legend">
    <f:form enctype="multipart/form-data" controller="Ezb" method="post" pageUid="{pageUid}" name="ezbaccessinfoform" id="ezbaccessinfoform" additionalAttributes="{onChange : 'document.ezbaccessinfoform.submit();'}">

        <f:for each="{journals.selected_colors}" as="section" key="key">
            <f:if condition="{section.colorkey} != 6">

                <f:if condition="{libconnect:arrayNp(inputArray: colors, key: section.colorkey)}">
                    <f:then>
                        <f:form.checkbox  id="ezb-accessinfo-access_{section.colorkey}" name="libconnect[colors][{section.colorkey}]" class="accessinfo-element"  value="{section.colorkey}"  checked="1"/>
                    </f:then>
                    <f:else>
                        <f:form.checkbox  id="ezb-accessinfo-access_{section.colorkey}" name="libconnect[colors][{section.colorkey}]" class="accessinfo-element"  value="{section.colorkey}"/>
                    </f:else>
                </f:if>

            </f:if>
            <label class="ezb-accessinfo-access_{section.colorkey} accessinfo-element" for="ezb-accessinfo-access_{section.colorkey}">{section.value}</label>

        </f:for>

        <f:for each="{formParameter}" as="parameter" key="key">
            <f:form.hidden name="{key}" value="{parameter}" />
        </f:for>
    </f:form>
</div>

<br/><br/>

<div class="ezb-navigation">
    <f:for each="{journals.navlist.pages}" as="item">
        <f:if condition="{libconnect:IsArrayNp(value: item)}">
            <f:then>
                <a href="<f:format.htmlentitiesDecode>{item.link}</f:format.htmlentitiesDecode>">
                    <f:format.htmlentitiesDecode>{item.title}</f:format.htmlentitiesDecode>
                </a>
            </f:then>
            <f:else>
                <em>
                    <f:format.htmlentitiesDecode>{item}</f:format.htmlentitiesDecode>
                </em>
            </f:else>
        </f:if>
    </f:for>
</div>

<br/><br/>

<f:render partial="Ezb/ListOutput" arguments="{journals:journals}" />
