<f:layout name="Default" />

<f:section name="main">
{namespace libconnect=Subhh\Libconnect\ViewHelpers}
<h1 class="ezb">
    <f:translate key="tx_libconnect.ezb.new.headline.alphabetical" />
</h1>

<f:if condition="{subject}">
    <h2 class="ezb">{subject.title}</h2>
</f:if>

<div class="ezb-list-legend">
    <f:form enctype="multipart/form-data" controller="Ezb" method="post" pageUid="{pageUid}" name="ezbaccessinfoform" id="ezbaccessinfoform" additionalAttributes="{onChange : 'document.ezbaccessinfoform.submit();'}">

        <f:for each="{journals.selected_colors}" as="section" key="key">
            <f:if condition="{section.colorkey} != 6">

                <f:if condition="{libconnect:arrayNp(inputArray: colors, key: section.colorkey)}">
                    <f:then>
                        <f:form.checkbox  id="ezb-accessinfo-access_{section.colorkey}" name="libconnect[colors][{section.colorkey}]" class="accessinfo-element"  value="{section.colorkey}"  checked="1"/>
                    </f:then>
                    <f:else>
                        <f:form.checkbox  id="ezb-accessinfo-access_{section.colorkey}" name="libconnect[colors][{section.colorkey}]" class="accessinfo-element"  value="{section.colorkey}"/>
                    </f:else>
                </f:if>

            </f:if>
            <label class="ezb-accessinfo-access_{section.colorkey} accessinfo-element" for="ezb-accessinfo-access_{section.colorkey}">{section.value}</label>

        </f:for>

        <f:if condition="{subject}">
            <f:form.hidden name="libconnect[notation]" value="{subject.notation}" />
        </f:if>

        <f:if condition="{formParameter.search}">
            <f:form.hidden name="libconnect[jq_type1]" value="{formParameter.jq_type1}" />
            <f:form.hidden name="libconnect[jq_term1]" value="{formParameter.jq_term1}" />
            <f:form.hidden name="libconnect[sc]" value="{formParameter.sc}" />
        </f:if>
    </f:form>
</div>

<br/><br/>

<p>
    <f:translate key="tx_libconnect.ezb.new.since" />
    <span class="ezb-newdate">{new_date}</span> {journals.page_vars.search_count}
    <f:translate key="tx_libconnect.ezb.new.hits" />
</p>

<br/>

<div class="ezb-navigation">
    <f:for each="{journals.navlist.pages}" as="item">
        <f:if condition="{libconnect:IsArrayNp(value: item)}">
            <f:then>
                <f:link.page pageUid="{pageUid}" additionalParams="{libconnect: {notation:'{subject.notation}', sc:'{item.id}', jq_type1:'ID', jq_term1: '{formParameter.jq_term1}', colors: {1:'{colors.1}', 2:'{colors.2}', 4:'{colors.4}', 6:'{colors.6}'} } }" addQueryString="0">
                    <f:format.htmlentitiesDecode>{item.title}</f:format.htmlentitiesDecode>
                </f:link.page>
            </f:then>
            <f:else>
                <em>
                    <f:format.htmlentitiesDecode>{item}</f:format.htmlentitiesDecode>
                </em>
            </f:else>
        </f:if>
    </f:for>
</div>

<br/>

<f:flashMessages />

<f:render partial="Ezb/ListOutput" arguments="{journals:journalsi, detailPid:detailPid, listPid:pageUid}}" />

<f:asset.css identifier="ezb" href="EXT:libconnect/Resources/Public/Css/ezb.css" />
</f:section>
