<div id="extSearchForm-wrapper" class="clearfix">

    <form id="e-search" name="extSearchForm" action="{listUrl}" method="get" class="e-search">
        <input type="hidden" name="id" value="{listPid}" />
        <fieldset id="extSearchForm-fieldset-1">
            <legend><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.ezb.form.label.extsearchform" /></legend> 
            <table>

                <f:for each="{1:1, 2:2, 3:3, 4:4}" as="jq_type">
                    <tr>
                        <td>
                            <label for="jq_type{jq_type}" class="hiddenezb"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.ezb.form.label.type" /></label>
                            <select name="libconnect[search][jq_type{jq_type}]" id="jq_type{jq_type}">

                                <f:for each="{form.jq_type}" as="value" key="key" iteration="foriteration">
                                    <option value="{key}" <f:if condition="{jq_type} == {foriteration.cycle}">selected="selected"</f:if>><f:format.htmlentitiesDecode>{value}</f:format.htmlentitiesDecode></option>
                                </f:for>

                            </select>
                        </td>
                        <td>
                            <label for="jq_term{jq_type}" class="hiddenezb"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.ezb.form.label.searchterm" /></label> 
                            <input type="text" size="30" class="ezb-input" name="libconnect[search][jq_term{jq_type}]" id="jq_term{jq_type}" value="" />
                        </td>
                        <td>
                            <label for="jq_bool{jq_type}" class="hiddenezb"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.ezb.form.label.link" /></label> 
                            <select name="libconnect[search][jq_bool{jq_type}]" id="jq_bool{jq_type}">
                                
                                <f:for each="{form.jq_bool}" as="value" key="key">
                                    <option value="{key}">{value}</option>
                                </f:for>
                            </select>
                        </td>
                    </tr>
                </f:for>

                <tr>
                    <td colspan="3">
                        <label id="label_hits_per_page" for="hits_per_page"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.ezb.form.label.hits" />:</label>
                        <select size="1" name="libconnect[search][hits_per_page]" id="hits_per_page">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option selected="" value="50">50</option>
                            <option value="100">100</option>
                            <option value="250">250</option>
                            <option value="500">500</option>
                            <option value="100000"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.ezb.form.option.hits" /></option>
                        </select>
                    </td>
                </tr>
            </table>
        </fieldset>

        <fieldset id="extSearchForm-fieldset-2">
            <legend><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.ezb.form.legend.limit" />:</legend>

            <table>
                <tr>
                    <td><label id="label_fachgebiete" for="fachgebiete"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.ezb.form.label.subject" />:</label></td>
                    <td>
                        <select multiple="multiple" size="5" name="libconnect[search][Notations][]" id="fachgebiete">

                            <f:for each="{form.Notations}" as="value" key="key">
                                <option value="{key}">{value}</option>
                            </f:for>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label id="label_zugaenge" for="zugaenge"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.ezb.form.label.access" />:</label></td>
                    <td>
                        <span id="zugangsinfos">

                            <f:for each="{form.selected_colors}" as="value" key="key">
                                <f:if condition="{value.colorkey} != 6">
                                    <input id="selected_colors_{value.colorkey}" type="checkbox" name="libconnect[search][selected_colors][]" class="zugaenge" value="{value.colorkey}" checked="checked"/>
                                </f:if>
                                <label class="ezb-list-accessinfo-access_{value.colorkey}" for="selected_colors_{value.colorkey}">{value.value}</label><br/>
                            </f:for>

                        </span>
                    </td>
                </tr>
            </table>

            <br />
            <input type="submit" class="button submit" value="<f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.ezb.form.input.search" />" />
        </fieldset>
    </form>
</div>