<f:layout name="Default" />

<f:section name="main">
<h1 class="ezb">
    <f:translate key="tx_libconnect.ezb.overview.headline" />
</h1>

<ul class="ezb-list-overview">
    <f:for each="{list}" as="item">
        <li>
            <f:link.page pageUid="{listUid}" additionalParams="{libconnect: {subject: '{item.notation}'}}">
                <f:format.htmlentitiesDecode>{item.title}</f:format.htmlentitiesDecode></a> ({item.journalcount})
            </f:link.page>
        </li>
    </f:for>
</ul>

<f:asset.css identifier="ezb" href="EXT:libconnect/Resources/Public/Css/ezb.css" />
</f:section>
