# coding: utf-8

[general]
project     = Extension to connect EZB und DBIS to your website, Libconnect
release     = 7.0.5
copyright   = Copyright 2011, by Avonis - Agentur für neue Medien. <agency@avonis.com>

[html_theme_options]
github_branch        = master
github_repository    = subhh/libconnect

project_contact      = mailto:torsten.witt@sub.uni-hamburg.de
project_discussions  =
project_home         = https://fachwelt.sub.uni-hamburg.de/libconnect.html
project_issues       = https://github.com/subhh/libconnect/issues
project_repository   = https://github.com/subhh/libconnect

[intersphinx_mapping]
t3tsref       = https://docs.typo3.org/m/typo3/reference-typoscript/master/en-us/
# h2document    = https://docs.typo3.org/m/typo3/docs-how-to-document/master/en-us/
# t3coreapi     = https://docs.typo3.org/m/typo3/reference-coreapi/master/en-us/
# t3editors     = https://docs.typo3.org/m/typo3/tutorial-editors/master/en-us/
# t3extbasebook = https://docs.typo3.org/m/typo3/book-extbasefluid/master/en-us/Index.html
# t3install     = https://docs.typo3.org/m/typo3/guide-installation/master/en-us/
# t3l10n        = https://docs.typo3.org/m/typo3/guide-frontendlocalization/master/en-us/
# t3start       = https://docs.typo3.org/m/typo3/tutorial-getting-started/master/en-us/
# t3sitepackage = https://docs.typo3.org/m/typo3/tutorial-sitepackage/master/en-us/
# t3tca         = https://docs.typo3.org/m/typo3/reference-tca/master/en-us/
# t3templating  = https://docs.typo3.org/m/typo3/tutorial-templating-with-fluid/master/en-us/
# t3ts45        = https://docs.typo3.org/m/typo3/tutorial-typoscript-in-45-minutes/master/en-us/
# t3tsconfig    = https://docs.typo3.org/m/typo3/reference-tsconfig/master/en-us/
