<div id="extSearchForm-wrapper" class="clearfix">

    <form name="extSearchForm" action="{listUrl}" method="get" class="e-search">
        <input type="hidden" name="id" value="{listPid}" />
        <fieldset id="extSearchForm-fieldset-1">
            <legend><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.form.extended_search" /></legend>
            <table>

                <f:for each="{1:1, 2:2, 3:3, 4:4}" as="jq_type">
                    <tr>
                        <td>
                            <label for="jq_type{jq_type}" class="hiddendebis"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.form.field" /></label>
                            
                            <select name="libconnect[search][jq_type{jq_type}]" id="jq_type{jq_type}">

                                <f:for each="{form.jq_type}" as="value" key="key" iteration="foriteration">
                                    <option value="{key}" <f:if condition="{jq_type} == {foriteration.cycle}">selected="selected"</f:if>><f:format.htmlentitiesDecode>{value}</f:format.htmlentitiesDecode></option>
                                </f:for>

                            </select>
                        </td>
                        <td>
                            <label for="jq_term{jq_type}" class="hiddendebis"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.form.search_term" /></label> 
                            <input type="text" size="35" class="dbis-input" name="libconnect[search][jq_term{jq_type}]" id="jq_term{jq_type}" value="" />
                        </td>
                        <td>
                            <label for="jq_bool{jq_type}" class="hiddendebis"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.form.link" /></label> 
                            <select name="libconnect[search][jq_bool{jq_type}]" id="jq_bool{jq_type}">

                                <f:for each="{form.jq_bool}" as="value" key="key">
                                    <option value="{key}">{value}</option>
                                </f:for>

                            </select>
                        </td>
                        <td>
                            <label for="jq_not{jq_type}" class="hiddendebis"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.form.negator" /></label> 
                            <select name="libconnect[search][jq_not{jq_type}]" id="jq_not{jq_type}">

                                <f:for each="{form.jq_not}" as="value" key="key">
                                    <option value="{key}">{value}</option>
                                </f:for>

                            </select>
                        </td>
                    </tr>
                </f:for>
            </table>
        </fieldset>

        <fieldset id="extSearchForm-fieldset-2">
            <legend><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.form.limit_search" /></legend> 

            <div id="dbis-extended-wrapper">
                <table>
                    <tr>
                        <td><label for="fachgebiete"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.form.subject" /></label></td>
                        <td>
                            <select multiple="multiple" size="5" name="libconnect[search][gebiete][]" id="fachgebiete">

                                <f:for each="{form.gebiete}" as="value" key="key">
                                    <option value="{key}">{value}</option>
                                </f:for>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="typen"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.form.datbase_types" /></label></td>
                        <td>
                            <select multiple="multiple" size="5" name="libconnect[search][db_type][]" id="typen">

                                <f:for each="{form.db_types}" as="value" key="key">
                                    <option value="{key}">{value}</option>
                                </f:for>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="zugaenge"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.form.access_type" /></label></td>
                        <td>
                            <select name="libconnect[search][zugaenge]" id="zugaenge">

                                <f:for each="{form.zugaenge}" as="value" key="key">
                                    <option value="{key}">{value}</option>
                                </f:for>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="laender"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.form.regions" /></label></td>
                        <td>
                            <select multiple="multiple" size="5" name="libconnect[search][lcode][]" id="laender">

                                <f:for each="{form.lcode}" as="value" key="key">
                                    <option value="{key}"><f:format.htmlentitiesDecode>{value}</f:format.htmlentitiesDecode></option>
                                </f:for>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="formal_type"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.form.formal_type" /></label></td>
                        <td>
                            <select name="libconnect[search][formal_type]" id="formal_type" >

                                <f:for each="{form.formal_type}" as="value" key="key">
                                    <option value="{key}">{value}</option>
                                </f:for>

                            </select>
                        </td>
                    </tr>
                </table>
                <input type="submit" class="button submit" value="Suchen"/>
            </div>
        </fieldset>
    </form>
</div>