<f:layout name="Default" />
<f:section name="main">
{namespace libconnect=Sub\Libconnect\ViewHelpers}
<h1 class="libconnect-h1"><f:translate key="tx_libconnect.dbis.search.results" /></h1>

<p><f:translate key="tx_libconnect.dbis.search.criterion" /></p>
<f:render partial="Dbis/SearchDescription" arguments="{searchDescription:list.searchDescription}" />

<f:if condition="{list.error}">
    <f:then>
        <p class="hitcount">
            <libconnect:strreplaceNp search="%s" replace="{list.values -> f:count()}">
                <f:translate key="tx_libconnect.dbis.search.hits" />
            </libconnect:strreplaceNp>
        </p>
    </f:then>
    <f:else>
        <h3 class="libconnect-h3"><f:translate key="tx_libconnect.dbis.list.legend.headline" /></h3>

        <f:render partial="Dbis/ListLegend" arguments="{access_infos:list.access_infos}" />

        <f:if condition="<f:count subject='{list.top}' /> > 0">
            <div class="top-database-wrapper">
                <h2><f:translate key="tx_libconnect.dbis.search.top_databases" /></h2>
                    <ul class="dbis-top-list">
                        <f:for each="{list.top}" as="db">
                            <li><a href="{db.detail_link}"><f:format.htmlentitiesDecode>{db.title}</f:format.htmlentitiesDecode></a> (<f:format.htmlentitiesDecode>{db.access}</f:format.htmlentitiesDecode>)</li>
                        </f:for>
                    </ul>
            </div>
        </f:if>

        <p class="hitcount">
            <libconnect:strreplaceNP search="%s" replace="{list.values -> f:count()}">
                <f:translate key="tx_libconnect.dbis.search.hits" />
            </libconnect:strreplaceNP>
        </p>

        <div class="dbis-list">
            <f:if condition="<f:count subject='{list.values}' /> > 0">
                <div class="accordion-content clearfix">
                    <ul class="dbis-dblist">
                        <f:for each="{list.values}" as="db" key="titleid">
                            <li class="dbis-list-accessinfo-{db.access_ref}">
                                <a href="{db.detail_link}"><f:format.htmlentitiesDecode>{db.title}</f:format.htmlentitiesDecode></a>
                            </li>
                        </f:for>
                    </ul>
                </div>
            </f:if>
        </div>
    </f:else>
</f:if>
</f:section>
