<f:layout name="Default" />

<f:section name="main">
{namespace libconnect=Subhh\Libconnect\ViewHelpers}
<div class="datenbank-suche-wrapper">
    <h2 class="libconnect-h2"><f:translate key="tx_libconnect.dbis.miniform.search_header" /></h2>

    <f:form name="dbis-mini-form-search" id="dbis-mini-form-search" controller="Dbis" method="get" pageUid="{listPid}">

        <label for="libconnect_dbis_minisuche" class="hiddendebis"><f:translate key="tx_libconnect.dbis.miniform.search_term" /></label>
        <f:form.textfield id="libconnect_dbis_minisuche" name="libconnect[sword]" value="{vars.sword}" size="20"/><br>

        <f:form.submit name="submit" value='<f:translate key="tx_libconnect.dbis.miniform.search_term" />'/>
        <f:if condition="{searchPid}">
        <p>
            <f:link.page pageUid="{searchPid}">
                <f:translate key="tx_libconnect.dbis.miniform.search_link" />
            </f:link.page>
        </p>
        </f:if>
    </f:form>

</div>

<f:if condition="{hideAccess}">
    <f:then></f:then>
    <f:else>
        <div class="datenbank-suche-wrapper">
            <h2 class="libconnect-h2"><f:translate key="tx_libconnect.dbis.miniform.show_databases" /></h2>

	    <f:form name="dbis-mini-form-choose-licence" id="dbis-mini-form-choose-licence" controller="Dbis" method="get" pageUid="{listPid}">
                <p>
                    <label for="libconnect_dbis_suche" class="hiddendebis"><f:translate key="tx_libconnect.dbis.miniform.select_access" /></label>

                    <f:form.select id="libconnect_dbis_suche" name="libconnect[zugaenge]" options="{form.zugaenge}" value="{vars.zugaenge}"/>
                </p>

                <f:if condition="{gebiete}">
                    <f:if condition="{libconnect:IsArrayNp(value: gebiete)}">
                        <f:then>
                            <f:for each="{gebiete}" as="gebieteVar" key="gebieteKey">
                                <f:form.hidden name="libconnect[gebiete][{gebieteKey}]" value="{gebieteVar}" />
                            </f:for>
                        </f:then>
                        <f:else>
                            <f:form.hidden name="libconnect[gebiete]" value="{gebiete}" />
                        </f:else>
                    </f:if>

                    <f:form.hidden name="libconnect[lett]" value="{lett}" />
                </f:if>

                <f:if condition="{sort}">
                    <f:form.hidden name="libconnect[sort]" value="{sort}" />
                </f:if>
                <f:if condition="{vars}">
                    <f:for each="{vars}" as="searchVar" key="searchKey">
                        <f:if condition="{searchKey} == 'zugaenge'">
                            <f:then></f:then>
                            <f:else>
                                <f:if condition="{libconnect:IsArrayNp(value: searchVar)}">
                                    <f:then>
                                        <f:for each="{searchVar}" as="subSearchVar" key="subSearchKey">
                                            <f:form.hidden name="libconnect[{searchKey}][{subSearchKey}]" value="{subSearchVar}" />
                                        </f:for>
                                    </f:then>
                                    <f:else>
                                        <f:form.hidden name="libconnect[{searchKey}]" value="{searchVar}" />
                                    </f:else>
                                </f:if>
                            </f:else>
                        </f:if>
                    </f:for>
                </f:if>
                <f:form.submit name="choose_licence" value='<f:translate key="tx_libconnect.dbis.miniform.select_access" />' />
            </f:form>

        </div>
    </f:else>
</f:if>

<div class="dbis-listings-wrapper">
    <h2 class="ezb-sort"><f:translate key="tx_libconnect.ezb.miniform.link.sort" /></h2>

    <f:if condition="{listingsWrapper}">
        <f:then>
            <p>
                <f:link.page pageUid="{listPid}" additionalParams="{libconnect: {sort:'{type}', gebiete: '{gebiete}', lett: '{lett}' } }" addQueryString="1">
                    <f:translate key="tx_libconnect.dbis.miniform.listing_type" />
                </f:link.page>
            </p>

            <p>
                <f:link.page pageUid="{listPid}" additionalParams="{libconnect: {sort:'alph', gebiete: '{gebiete}', lett: '{lett}' }}" addQueryString="1">
                    <f:translate key="tx_libconnect.dbis.miniform.listing_alph" />
                </f:link.page>
            </p>
        </f:then>
        <f:else>
            <p>
                <f:link.page pageUid="{listPid}" addQueryString="0">
                    <f:translate key="tx_libconnect.dbis.miniform.listing_subject" />
                </f:link.page>
            </p>

            <p>
                <f:link.page pageUid="{listPid}" additionalParams="{libconnect: {gebiete: 'all', lett: 'a'}}" addQueryString="1">
                    <f:translate key="tx_libconnect.dbis.miniform.listing_alph" />
                </f:link.page>
            </p>
        </f:else>
    </f:if>
</div>

<f:if condition="{searchPid}">
    <div class="dbis-listings-wrapper">
        <div class="dbis-advanced-search">
            <p id="dbis-advanced-search">
                <f:link.page pageUid="{searchPid}">
                    <f:translate key="tx_libconnect.dbis.miniform.extended_search" />
                </f:link.page>
            </p>
        </div>
    </div>
</f:if>

<f:if condition="{newPid}">
    <div class="dbis-listings-wrapper">
        <div class="dbis-new">
            <p id="dbis-newmini">
                <f:link.page pageUid="{newPid}">
                    <f:translate key="tx_libconnect.dbis.miniform.new.all" /><span class="newcount"> ({newCount})</span>
                </f:link.page>
            </p>
        </div>
    </div>
</f:if>

<f:if condition="{newInSubjectCount}">
    <div class="dbis-listings-wrapper">
        <div class="dbis-new">
            <p id="dbis-newmini">
                <f:link.page pageUid="{newPid}" additionalParams="{libconnect: {gebiete: '{gebiete}'}}">
                    <f:translate key="tx_libconnect.dbis.miniform.new.subject" /> <span class="newcount"> ({newInSubjectCount})</span>
                </f:link.page>
            </p>
        </div>
    </div>
</f:if>

<f:asset.css identifier="dbis" href="EXT:libconnect/Resources/Public/Css/dbis.css" />
</f:section>
