{namespace libconnect=Sub\Libconnect\ViewHelpers}
<h1 class="libconnect-h1"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.new.headline" /> </h1>

<f:if condition="{subject}">
    <h2 class="libconnect-h2">
        <f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.list.headline.subject" /> {subject}
    </h2>
</f:if>

<h3 class="libconnect-h3"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.list.legend.headline" /></h3>

<div class="dbis-list-legend">
    <ul>
        <f:for each="{list.access_infos}" as="info">
            <li class="dbis-list-accessinfo-{info.id}"><f:format.htmlentitiesDecode>{info.title}</f:format.htmlentitiesDecode> (<f:format.htmlentitiesDecode>{info.description}</f:format.htmlentitiesDecode>)</li>
        </f:for>
    </ul>
</div>

<br/><br/>

<p>
    <f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.new.since" />
        <span class="dbis-newdate">{new_date}</span> <f:count subject='{list.values}' /> 
    <f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.new.hits" />
</p>

<!-- BOF workaround for alphabetical listing -->
<f:if condition="{list.alphNavList}">
    <div class="alph-nav-list-wrapper">
        <f:for each="{list.alphNavList}" as="charBlock">
            <f:if condition="{charBlock.current}">
                <f:then>
                    <em><f:for each="{charBlock.chars}" as="char"><f:format.htmlentitiesDecode>{char}</f:format.htmlentitiesDecode></f:for></em>
                </f:then>
                <f:else>
                    <f:link.page pageUid="{listPid}" additionalParams="{libconnect: '{subject:44, lc:charBlock.lc, fc:charBlock.fc}'}"><f:for each="{charBlock.chars}" as="char"><f:format.htmlentitiesDecode>{char}</f:format.htmlentitiesDecode></f:for></f:link.page>
                </f:else>
            </f:if>
        </f:for>
    </div>
</f:if>
<!-- EOF workaround for alphabetical listing -->

<f:flashMessages renderMode="div" />

<f:if condition="{list.error}">
    <f:then></f:then>
    <f:else>
        <div class="dbis-list">

            <f:if condition="<f:count subject='{list.values}' /> > 0">
                <div class="accordion-content clearfix">
                    <ul class="dbis-dblist">
                        <f:for each="{list.values}" as="db" key="titleid">
                            <li class="dbis-list-accessinfo-{db.access_ref}">
                                <a href="{db.detail_link}"><f:format.htmlentitiesDecode>{db.title}</f:format.htmlentitiesDecode></a>
                            </li>
                        </f:for>
                    </ul>
                </div>
            </f:if>

        </div>
    </f:else>
</f:if>